extends layout 

block content 

    if user && !user.isAdmin 
        h1=title

        form(action="" method="POST")
            
            input(type='hidden' name='user_id' value=user._id)
            div 
                label(for='passcode')
                input(type='password' name='passcode' required=true)

            button(type='submit') Submit

    else
        h3 is already an Admin 
        

