doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if !user
      nav 
        div
          a(href="/login") Login 
        div
          a(href="/signup") SignUp

    else 
      nav 
        div 
          a(href='/logout') Logout
    block content
