doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous') 
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  body
    if !user
      nav 
        div
          a(href="/login") Login 
        div
          a(href="/signup") SignUp

    else 
      nav 
        div 
          a(href='/message/create') Create Message
        if !user.membership_status
          div 
            a(href='/member') Become A Member
        if !user.isAdmin        
          div 
            a(href='/admin') Become An Admin
   
        div 
          a(href='/logout') Logout
    block content
      
