doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if !user
      nav 
        div
          a(href="/login") Login 
        div
          a(href="/signup") SignUp

    else 
      nav 
        div 
          a(href='/message/create') Create Message
        if !user.membership_status
          div 
            a(href='/member') Become A Member
        if !user.isAdmin        
          div 
            a(href='/admin') Become An Admin
   
        div 
          a(href='/logout') Logout
    block content
