extends layout 

block content

    h1=title 

    form(action="" method="POST")
        div
            label(for="username")  Email: 
            input(type="email" name='username' required=true )
        div 
            label(for="password") Password: 
            input(type="password" name="password" required=true)

        button(type="submit" ) Submit
